.layout {
  // position: relative;
  display: flex;
}
.main {
  width: 100%;
  color: #ccc;
}

.sidebar {
  height: 100vh;
  flex-shrink: 0;
  overflow: auto;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0 1rem;
  transition: all 0.3s;
  background-color: var(--dark-blue);
  height: 70px;
}

.bars {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.bars:hover {
  color: var(--color-primary);
  font-size: 27px;
}

.sidebar-item {
  display: block;
  // border-radius: 5px;
  // border-bottom: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.15s;
  border-bottom: 2px solid var(--dark-blue);
  & :hover {
    background-color: var(--color-success);
    color: var(--dark-blue);
  }
}

.sidebar-title {
  padding: 0.75em 1em;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  color: var(--color-grey);
}

.sidebar-title span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  transition: all 0.5s;
  font-size: 1.6rem;
}

.sidebar-title span .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  font-size: 25px;
}

.sidebar-title .arrow-icon {
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-item .child-item {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  border: none;
}
.sidebar-content {
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-title .arrow-icon {
  transform: rotate(90deg);
}

.sidebar-item.open > .sidebar-content {
  height: auto;
  background-color: var(--color-success);
  & .sidebar-title {
    width: 100%;
    color: var(--dark-blue);
  }
}

.child-item {
  border-radius: 3px;
  transition: all 0.15s;
  & :hover {
    color: var(--dark-blue);
  }
  & .sidebar-title {
    width: 80%;
    padding: 0.5rem;
    border-radius: 2px;
  }
}

.active {
  color: var(--color-primary);
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.active::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--color-primary);
}

.sublink .sidebar-item .sidebar-title {
  padding-left: 40px;
}
