.info {
  display: flex;
  margin-bottom: 1rem;
  padding-block: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #fff;
  transform: translateY(0);
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  .info-icon {
    padding: 0.5rem;
    color: #fff;
  }
  .info-text > * {
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  // .card {
  //   border: 1px solid #ccc;
  //   border-bottom: 3px solid var(--light-blue);
  //   padding: 5px;
  //   background-color: #f5f6fa;
  // }
}

@media screen and (max-width: 600px) {
  .info {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .info {
    margin-right: 1rem;
    padding: 1rem 2rem 1rem 0.5rem;
  }
}
