/* .item must be first */
.item {
  align-items: center;
  color: var(--color-yellow);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active-page {
  border: solid 1px #fff;
  border-radius: 40px;
  color: #fff;
}

// .break-me {
// }

.next {
  border-left: solid 1px var(--color-grey);
  height: 40px;
  position: absolute;
  right: 0;
  width: 100px;
}

.pagination {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  list-style-type: none;
  position: relative;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  border-right: solid 1px var(--color-grey);
  height: 40px;
  left: 0;
  position: absolute;
  width: 100px;
}
